<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Awesome Songs</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <link rel="icon" href="../static/images/music.ico"
          th:href="@{/images/music.ico}" />
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <h1 id="heading">Enter song information</h1>
    <div class="form-container">
        <form class="form-horizontal" th:object="${song}" th:action="@{/songs/save}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Enter song title"/>
                    <label class="error-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Artist</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:field="*{artist}" placeholder="Enter song artist"/>
                    <label class="error-text" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}">Artist Error</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Album</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:field="*{album}" placeholder="Enter song album"/>
                    <label class="error-text" th:if="${#fields.hasErrors('album')}" th:errors="*{album}">Album Error</label>
                </div>
            </div>
            <button id="button" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <th:block th:include="fragments/footer :: footer"></th:block>
</div>

</body>
</html>