<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Awesome Songs</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <link rel="icon" href="../static/images/music.ico"
          th:href="@{/images/music.ico}" />
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <h1 id="heading">Welcome to Awesome Songs!</h1>
    <img class="indexImage" src="../static/images/indexImage.jpg" th:src="@{/images/indexImage.jpg}" alt="Index image" />
    <th:block th:include="fragments/footer :: footer"></th:block>
</div>
</body>
</html>