<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Awesome Songs</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <link rel="icon" href="../static/images/music.ico"
          th:href="@{/images/music.ico}" />
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <h1 id="heading">Log in</h1>
    <div class="form-container">
        <div th:if="${regMessage}">
            <script>alert("Registration was successful.")</script>
        </div>
        <form class="form-horizontal" th:object="${login}" th:action="@{/login}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="Enter username"/>
                    <label class="error-text" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Enter password"/>
                    <label class="error-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</label>
                </div>
            </div>
            <label class="error-text" th:if="${loginMessage}" th:text="${loginMessage}">Wrong credentials.</label>
            <button id="button" type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
    <th:block th:include="fragments/footer :: footer"></th:block>
</div>
</body>
</html>